/* primary color: rgb(7, 110, 29); */
/* danger color: #dc3545 */

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  /* Toggle Styles */

  #viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #content {
    width: 100%;
    position: relative;
    margin-right: 0;
  }

  /* Sidebar Styles */

  #sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background:#37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    border-right: 1px solid ;




  }

  #sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;

  }

  #sidebar header a:hover {
    color: #fff;
    width:250px;

  }

  #sidebar  ul {
      height: 50px;


    }

  #sidebar .nav li {
    padding: 10px;
    width:250px;
    text-decoration: none;


  }

  #sidebar .nav li:hover {
    background-color: #74747428;
    width:250px;
    text-decoration: none;
    font-weight: bold;
  }

  #sidebar .nav li:hover a {
    text-decoration: none;
    color: white;
    /* color:white; */
  }

  #sidebar .nav a{
    background: none;
    font-size: 14px;
    padding: 16px 10px;
    color: #ffffff ;
  }


  #sidebar .nav a:hover{
    background: none;
    color: #ECEFF1;
  }

  #sidebar .nav a i{
    /* margin-right: 75%; */
    /* text-align: left; */
    width:250px;

  }

  .nav .navbar-nav .navbar-right .login{
      text-align: right;
  }

  .navbar-default-login{
      background-color:#f1f1f1;
      height: 52px;


  }
  .btn-login{
      list-style: none;
      position: absolute;
      /* left: 89%; */
      right:5px;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .row.banner{
    background-color:hsla(210, 100%, 99%, 0.945);
    height:570px;
    margin: 10px 10px 1px 250px; border:1px solid;
  }
#sidebar .sidebar-nav li.active{
    /* background-color:#04AA6D; */
    background-color: rgb(7, 110, 29);
    font-weight: bold;
}

#sidebar .sidebar-nav li.active a{
    color:white;
     /* color:white; */
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 250px);
}

main {
    margin-bottom: 76px;
}

.permission-fail-message {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.nav-btn-container {
  display: flex;
  align-items: center;
}

.nav-title {
    font-size: 18px;
    font-weight: bold;
}

.welcome-message {
  font-size: 18px;
  margin-right: 15px;
}

.btn-success {
  background-color: rgb(7, 110, 29) !important;
}

.bg-danger {
  background-color: #dc3545 !important
}

.text-success {
  color: rgb(7, 110, 29) !important;
}

.text-danger {
  color: #dc3545 !important
}

.bg-success {
    background-color: rgb(7, 110, 29) !important;
}

.icon-button-sm {
  font-size: 18px;
  cursor: pointer;
  margin: 5px;
}

/* .form-outline .form-control:focus~.form-label {
    color: rgb(7, 110, 29) !important;
}


.form-control:focus {
    background-color: red !important;
    box-shadow: none !important;
} */


.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid rgb(7, 110, 29);
    border-bottom: .125rem solid rgb(7, 110, 29);
    border-left: .125rem solid rgb(7, 110, 29);
}
 .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: rgb(7, 110, 29);
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor rgb(7, 110, 29);
    border-bottom: .125rem solid rgb(7, 110, 29);
    border-right: .125rem solid rgb(7, 110, 29);
    border-top: .125rem solid rgb(7, 110, 29);
}

.form-outline .form-control:focus~.form-label {
    color: rgb(7, 110, 29);
}

/* table style */


table.table-hover tr td{
  padding:4px;
  margin-top: 10px;
  border: 1px solid black;
  
}
table.table-hover tr:hover {
  background-color: #d4e7dc;
  
}
table.table-hover tr td.tensv {
  width: 200px;
      
}
table.table-hover tr td.mssv {
  width: 130px;
      
}

thead th {
  border: 1px solid black !important;
  background-color: rgb(7, 110, 29) !important;
  padding: 10px 20px !important;
  color: white !important;
  font-weight: bold !important;
  text-align: center;
  vertical-align: middle !important;
}

tbody td {
  vertical-align: middle !important;
}

/* end table */