.container.dangkyluanvan{
    margin-left:10px;
    height: 500px;
    width: 1100px;
 
}

div.container.dangkyluanvan .danhsachgianvien {
    padding-top: 15px;
    text-align: center;
    height:50px;
    /* border-bottom: 2px solid #04AA6D; */
  
}
table.table-hover{
    width: 1100px;
    margin-bottom:10px;
}
table.table-hover tr{
    height: 30px;
    

}

table.table-hover .stt {
    width: 50px;
}
table.table-hover .dangky {
    width: 150px;
}




